div.head {
    top: 0;
    left:0;
    width: 100vw;
    height: 250 px;
    background-color: rgb(83, 47, 47);
    color: white;
    padding-left: 25px ;
    font-size: 50px;
    margin:0;
    padding-bottom:0px;
   }

.tanıtım {
    width: 100vw;
    height: 100%;
    

}
.hizmetler{
  width: 100vw;
  height: 900px;
  background-color: rgb(61, 52, 52);
  margin: 0px;
  clear: both;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}
.hz_icerik_1 {
    border: 1px solid;
    width: 350px;
    height: 300px;
    padding: 20px;
    margin: 20px;
    display: inline-block;
}
.hz_icerik_2 {
    border: 1px solid;
    width: 350px;
    height: 300px;
    padding: 20px;
    margin: 20px;
    display: inline-block;
}

.hakkimizda {
    border: 1px solid black;
    width: 100%;
    height: 650 px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(19, 12, 12);
} 
.hakresim {
    border: 2px solid black;
    width: 550px;
    height: 550px;
    padding:0;
    margin: 20px;
    display: inline-block;    
}
.hakkimizda_text {
    border: 2px solid black;
    width: 550px;
    height: 550px;
    padding: 0px;
    margin: 20px;
    display: inline-block; 
    text-align: center;
    font-size: 50px;
    background-color: rgb(49, 15, 15);

}





   

